#cor1{
 color: blue;
}

#cor2{
    color: green;
}

#cor3{
    color: red;
}

#cor4{
    color: gray;
}

#cor5{
    color: black;
}

#cor6{
    color: orange;
}

#cor7{
    color: hotPink;
}

#cor8{
    color: indigo;
}

#cor9{
    color: cyan;
}

#cor10{
    color: turquoise;
}

#cor11{
    color: yellow;
}

#cor12{
    color: slateBlue;
}

#cor13{
    color: maroon;
}

#cor14{
    color: saddleBrown;
}

#cor15{
    color: salmon; 
}

#cor16{
    color: magenta;
}

#cor17{
    color: chocolate;
}

#cor18{
    color: lime;
}

#cor19{
    color: dodgerBlue;
}

#cor20{
    color: darkBlue;
}

#cor21{
    color: lightGreen; 
}

#cor22{
    color: darkGreen;
}

#cor23{
    color: lightPink; 
}

#cor24{
    color: rgb(95, 1, 95);
}

#cor25{
    color: deepPink;
}

#cor26{
        color: lightSalmon;
}

#cor27{
    color: tomato;
}

#cor28{
    color: darkRed;
}

#cor29{
    color: darkGray;
}

#cor30{
    color: white;
}